<div class="drawer" id="drawer" hidden>
  {{NAV}}
  <div class="drawer__utility">
    <a href="alumni.html">Alumni</a>
    <a href="#">Careers</a>
    <a href="#">Support CIRS</a>
    <a href="#">Calendar</a>
    <a href="tel:+914222613300">+91 422 261 3300</a>
    <a href="mailto:admissions@cirschool.org">admissions@cirschool.org</a>
  </div>
  <div class="drawer__cta">
    <a class="btn btn--primary btn--lg" href="#admissions">Apply for admission</a>
    <a class="btn btn--outline btn--lg" href="#admissions">Book a campus visit</a>
  </div>
</div>
