<div class="footer-wrap">
<footer class="footer">
  <div class="wrap">
    <div class="footer__utility">
      <a href="alumni.html">Alumni</a>
      <a href="#">Parents</a>
      <a href="#">Careers</a>
      <a href="#">Transportation</a>
      <a href="#">Support CIRS</a>
      <a href="#">Employee Directory</a>
      <a href="#">Parent Portal</a>
      <a href="#">Calendar</a>
    </div>
    <div class="footer__main">
      <div>
        <div class="footer__brand">
          <img src="assets/img/logo.png" alt="" width="58" height="56">
          <span>Chinmaya International<br>Residential School</span>
        </div>
        <address>
          Siruvani Main Road<br>
          Coimbatore 641 114, Tamil Nadu, India<br>
          <a href="tel:+914222613300">+91 422 261 3300</a> &middot;
          <a href="tel:+914222613303">261 3303</a><br>
          <a href="mailto:info@cirschool.org">info@cirschool.org</a>
        </address>
      </div>

      <div>
        <h4 class="sc">About</h4>
        <ul>
          <li><a href="#about">Why CIRS</a></li>
          <li><a href="#">School History</a></li>
          <li><a href="#people">Our People</a></li>
          <li><a href="#campus">Our Campus</a></li>
        </ul>
      </div>

      <div>
        <p class="sc" id="fnav-school">School</p>
        <ul aria-labelledby="fnav-school">
          <li><a href="#junior">Junior School</a></li>
          <li><a href="#senior">Senior School</a></li>
          <li><a href="#athletics">Athletics</a></li>
          <li><a href="#arts">Arts, Music &amp; Theatre</a></li>
        </ul>
      </div>

      <div>
        <p class="sc" id="fnav-academics">Academics</p>
        <ul aria-labelledby="fnav-academics">
          <li><a href="#academics">Curriculum</a></li>
          <li><a href="#academics">CBSE</a></li>
          <li><a href="#academics">IB Diploma</a></li>
          <li><a href="#pathways">University Counselling</a></li>
        </ul>
      </div>

      <div>
        <p class="sc" id="fnav-admissions">Admissions</p>
        <ul aria-labelledby="fnav-admissions">
          <li><a href="#admissions">Application Information</a></li>
          <li><a href="#">Fee Structure</a></li>
          <li><a href="#">Important Dates</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>

    <div class="footer__bar">
      <span>&copy; 1996&ndash;2026 Chinmaya International Residential School</span>
      <span>J&ntilde;&#0257;na&#7745; sev&#0257; ca kau&#0347;alam</span>
      <span>An undertaking of the Central Chinmaya Mission Trust</span>
    </div>
  </div>
</footer>
</div>
